/* body{
    background-color: #ffff79;
} */
.home{
    margin-bottom: 300px;
    font-family: 'Montserrat', sans-serif;
    padding: 30px;
}
.heading{
    margin-top: 120px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    width: 100%;
    text-align: center;
    padding-left: 10px;
    margin-bottom: 100px;
}
.donate{
    float: left;
    width: fit-content;
    /* border: 5px solid red; */
    background-color: #ffffd1;
    opacity: 0.9;
    border-radius: 20px;
    font-size: 40px;
    margin: 5px;
    text-align: center;
    padding: 20px;
}
.h1{
    font-size: 30px;
    font-weight: 700;
}
.h2{
    font-size: 20px;
}
.bd{
    border: 3px solid cornflowerblue;
    color: cornflowerblue;
    font-weight: 600;
    border-radius: 5px;
    margin: 3px;
    font-size: 25px;
    padding: 0 15px;
    width: fit-content;
}
.bd:hover{
    background-color: lightblue;
}

.need{
    float: right;
    width: fit-content;
    /* border: 5px solid red; */
    background-color: #ffffd1;
    opacity: 0.9;
    border-radius: 20px;
    font-size: 40px;
    margin: 5px;
    text-align: center;
    padding: 10px;
}

.bl{
    border: 3px solid orangered;
    border-radius: 5px;
    color: orangered;
    margin: 3px;
    font-weight: 600;
    font-size: 25px;
    padding: 0 10px;
    width: fit-content;
    margin-top: 20px;
}
.bl:hover{
    background-color: #ffa399;
}

#plasma{
    color: #ffcc66;
    font-weight: bold;
}
#help{
    color: red;
    font-weight: bold;
}
.navbar-brand:hover{
    text-shadow: 0 0 4px #FF0000;
}
.nav-link{
    margin: 5px;
}
.l1{
    font-size: 4.8em;
    margin-bottom: 20px;
}

.l5{
    font-size: 1.6em;
}
.f{
    text-decoration: none;
    color: white;
}
.f:hover{
    text-decoration: none;
    color: aquamarine;
}
.picture{
    width: 70%;
    margin-left: 70px;
}
#test{
    color: transparent;
    clear: both;
    margin-top: 50px;
    margin-bottom: 50px;
}
#test1{
    color: transparent;
    margin-bottom: 50px;
}
#test2{
    color: transparent;
    margin-bottom: 50px;
}
.how-heading{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.how-icon{
    font-size: 30px;
    font-weight: 600;
    color: #ffaa65;
}
.how-title{
    font-size: 20px;
    margin-bottom: 5px;
    color: #ff7364;
}
.how-details{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.contact-heading{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.pre-heading{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.card-text{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.ul1{
    margin-left: auto;
}

.cont{
    background-color: #ffcc66;
    margin-top: 10%;
}
.container{
   width: 60%;
    background-color: aqua;
}
.container form label{
    
    display: block;
    
}
.container form select{
    
    border:black 2px ;
    
}
#contact {
    margin: auto;
    padding: 40px 55px 45px;
    border-radius: 15px;
    box-shadow: 0 14px 80px rgb(34 35 58 / 20%);
    transition: all .3s;
    width: 85%;
    font-family: 'Montserrat', sans-serif;
}

.contact-heading {
    text-align: center;
    font-size: 30px;
}

.form {
    width: 100%;
}

.form-control {
    border: 0px solid #ced4da;
    border-bottom: 1.5px solid #ced4da;
}

.sub {
    text-align: center;
}

.btn {
    width: 200px;
}
